<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TourGuide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B42FFD91C8B492E006FD708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B42FFED1C8B492E006FD708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B42FFF81C8B492E006FD708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
